linkcentral {
    margin-top: 40px;
}

.linkcentral {
    margin-top: 50px;
    padding: 15px 0px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}

.linkcentral + .linkcentral {
    margin-top: 10px;
}

.linkcentral h3 {
    font-size: 14px;
    color: white;
}
